*{
padding:0;
margin:0;
}
:root{
background-color:hsl(300,30%,99%);
font-family: 'Poppins',
sans-serif;
 }

/*HEADING & RATING*/

.container__heading{
color:hsl(303,76%,15%);
display:flex;

width:280px;
	height:250px; 
	font-size:40px;  
	margin:60px 0px 0px 140px;


}



.container__text{
 display:flex;

 color:hsl(303,76%,15%);
 opacity:0.4;
margin: -90px 0px 0px 155px;


 width:31%;
font-size:15px;
padding:9px;
}

/*RATING SECTION*/

.rating{
float:right;


}

.review{
	box-sizing: border-box;
	width: 200%;
	border:none;
	margin-left: -220%;
	margin-top:-105%;
	color:hsl(303,76%,15%);
	background-color:hsl(349,27%,95%);
	padding:9px;
	border-radius:7px;
	text-align:center;}

.Rguru{
	box-sizing: border-box;
	width: 200%;
	border:none;
	font-size:15px;
	margin-left: -190%;
	margin-top:9%;
	color:hsl(303,76%,15%);
	background-color:hsl(349,27%,95%);
	padding:9px;
	border-radius:7px;
	text-align:center;}

.besttech{
	box-sizing: border-box;
	width: 200%;
	border:none;
	font-size:15px;
	margin-left: -160%;
	margin-top:10%;
	color:hsl(303,76%,15%);
	background-color:hsl(349,27%,95%);
	padding:9px;
	border-radius:7px;
	text-align:center;}

/* 5 STAR RATING ICON */ 
.review__icon{
	background-image:url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico');
	background-size:13px 15px;
 
	background-repeat: no-repeat,no-repeat,
	no-repeat,no-repeat,no-repeat; 
	background-position:15px 8px,34px 8px,
	53px 8px,72px 8px,90px 8px;
	}
.Rguru__icon{
	background-image:url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico');
	background-size:13px 15px;
 
	background-repeat: no-repeat,no-repeat,
	no-repeat,no-repeat,no-repeat; 
	background-position:15px 8px,34px 8px,
	53px 8px,72px 8px,90px 8px;
	}
.besttech__icon{
	background-image:url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico'),
	url('./images/star.ico');
	background-size:13px 15px;
 
	background-repeat: no-repeat,no-repeat,
	no-repeat,no-repeat,no-repeat; 
	background-position:15px 8px,34px 8px,
	53px 8px,72px 8px,90px 8px;
	}

/* CARDS */ 

.card__icon {
  
  	display: inline-block;
 
	border-radius:50%;
  	height:45px;
 
  	width:45px;

  	float:left;
  
  	margin-top:-140px;
  	margin-left:5%;
  	background-size: contain;
   
  	background-repeat: no-repeat;}



.card {
	height:200px;

	width:330px;
       
	border-radius: 13px;
    
	box-sizing: border-box;
    
	padding:20px;
    
	background-color: hsl(309,91%,21%);
    
	margin:14px 19px;
}


.card__heading {
  
  	font-weight:545;
  
  	font-size: 15px;

 	text-align:center;   
  	color: #fff;
   
  	margin-top:15px;

  	margin-left:-30px;}


.card__text {
  
  	line-height:17px;
  
  	font-size: 15px;
  
  	color: #fff;

  	margin-top:35px;}


.profession{
	font-size: 10px;

	text-align:center;
	color:hsl(305,73%,59%);
	opacity:0.5;
	margin-left:-30px;
	margin-top:-1px;}

.card__icon--one {
 
   background-image: url('./images/my pic.jpg');

}


.card__icon--two {
  
  background-image: url('./images/my pic.jpg');
}


.card__icon--three {
  
  background-image: url('./images/my pic.jpg');

}


.card--one{
position:relative;
margin-top:20px;
margin-left:135px;

}

.card--two{
position:relative;
margin-top:-170px;
margin-left:520px;
}

 .card--three{
position:relative;
margin-top:-170px;
margin-left:905px;
}


@media (max-width:375px) {
  
  .card__container{
     
   flex-wrap:wrap;
     
   justify-content: center;
     
  }


.container__heading{
font-size:14.5px;
margin-top:15px;
flex-wrap:inline;
margin-left:40px;
}
.container__text{
font-size:10px;
flex-wrap:wrap;

 
width:320px;
margin-top:-65%;
margin-left:10px;
}

.card--one{
position:relative;
margin-top:163px;
margin-left:13.5px;

}

.card--two{
position:relative;
margin-top:-1px;
margin-left:13.5px;
}
.card--three{
position:relative;
margin-top:-1px;
margin-left:13.5px;
}
.review, .Rguru, .besttech {
	height:35px;
	width: 337px;
	font-size:11px;
	margin-left:-12px;
	margin-right:13px;
	margin-top:10px;
	padding:20px;}
.review__icon, .Rguru__icon, .besttech__icon {
	background-size:10px 12px;
 
	background-position:40% 0%,45% 0%,
	50% 0%,55% 0%,60% 0%;}
}

@media (min-width:1100px) {
    
.container__box{
    
position: relative;
       
width:1360px;
  
  }
 
}

  
